$base-font-size : 16px;
$base-font-color : #666;
$strong-font-color : #333;
$price-font-color : #1499d8;
$title-font-color : #000;
$sub-font-color : #999;
$base-font-family : 'Noto Sans', '맑은고딕', arial, sans-serif;
$normal : 300; /*font-weight: normal 을 300으로 지정*/
$bold : 500; /*font-weight: bold 을 500으로 지정*/
$base-border-color : #ccc;
$strong-border-color : #333;
$table-border-color : #dedede;
$base-bg-color : #ccc;
$strong-bg-color : #1d306e;
$highlight-bg-color : #1499d8;